# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Plugin jars
Ikala-Core*.jar
plugins/*.jar

logs/

# IntelliJ
out/
.idea/**

# Gradle and Maven with auto-import
*.iml
*.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

